$body-bg: #e1e1e1;
$content-bg: rgb(255, 244, 161);
$content-bg: linear-gradient(
  0deg,
  rgba(255, 244, 161, 1) 5%,
  rgba(184, 1, 255, 1) 67%
);
$text-color: #eee;
$shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
