.page_content {
  min-height: 100vh;
  width: 100vw;
  background: $content-bg;
  @include flexCenter;
  flex-direction: column;
  text-align: center;
  padding: 2%;
  button {
    display: block;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 5%;
}

li {
  font-size: 0.4rem;
}

@include mq(900px) {
  .page_content {
    height: 60%;
    min-height: 350px;
    width: 30%;
    min-width: 300px;
    border-radius: 40px;
    box-shadow: $shadow;
  }
}
